.bgr {
    background: black;
    overflow: hidden;
    position: relative;
    margin: 50% 0 0 0;
}

.wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    perspective: 750px;
}

.animated_text {
    color: yellow;
    font-size: 4vw;
    font-weight: bold;
    line-height: 1.5;
    text-align: justify;
    position: relative;
    animation: star_wars 30s infinite linear forwards;

}

.center {
    text-align: center;
}

@keyframes star_wars {
    0% {
        top: 0;
        transform: translateZ(0) rotateX(20deg);
    }
    100% {
        top: -4500px;
        transform: translateZ(-1500px) rotateX(23deg);

    }
}